h1 {
  font-weight: bold;
  font-size: 36px;
}

#main {
  width: 570px;
  margin: 10px auto;
  padding: 20px;
  background: #f3f7f5;
  border-radius: 10px;
  text-align: center;
}

#labels {
  float: left;
  margin-left: 25px !important;
  text-align: justify;
}

label {
  display: block;
  margin-top: 35px !important;
  margin-bottom: 40px !important;
}

#inputsRange {
  float: left;
  margin-left: 20px;
}

.range-field {
  /* .inputRange { */
  display: block;
  margin-top: 25px !important;
}

#inputsText {
  float: left;
  margin-left: 30px;
}

.inputText {
  width: 35px !important;
  display: block;
  margin-top: 25px !important;
  margin-bottom: 40px !important;
  height: 20px !important;
}

#square {
  width: 140px;
  height: 140px;
  margin-top: 30px;
  margin-left: 50px;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  float: left;
}

#clear {
  clear: both;
  display: block;
}
